# 1. Ignore EVERYTHING in the wp-content folder
/*

# 2. Allow the .gitignore file itself
!.gitignore

# 3. UN-IGNORE your specific themes
!/themes/advanced-realty-hoa/
!/themes/advanced-realty-KL/

# 4. UN-IGNORE your specific plugin
!/plugins/rm-unit-availability-plugin-main/

# 5. Still ignore the heavy stuff inside those folders (just in case)
**/node_modules/
**/languages/
**/cache/
*.jpg
*.png
*.zip